<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="db_ConnectionString"
      connectionString="Data Source=JULIOVIDAA4B01\EQUIPO;Initial Catalog=db_jornadas;Persist Security Info=True;User ID=usr_jornadas;Password=sist3mas"
      providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.6.1">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="Microsoft.SqlServer.Types, Version=14.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <add assembly="Microsoft.ReportViewer.Common, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
      </assemblies>
      <buildProviders>
        <add extension=".rdlc"
          type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
      </buildProviders>
    </compilation>
    <httpRuntime targetFramework="4.6.1"/>
    <securityPolicy>
      <trustLevel name="Full" policyFile="internal"/>
    </securityPolicy>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*"
        type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"
        validate="false"/>
    </httpHandlers>
    
  </system.web>
  <!--<system.codedom>
        <compilers>
            <compiler language="c#;cs;csharp" extension=".cs"
                type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
            <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
                type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
        </compilers>
    </system.codedom>-->
  <system.webServer>
    <httpErrors>
      <remove statusCode="502" subStatusCode="-1"/>
      <remove statusCode="501" subStatusCode="-1"/>
      <remove statusCode="500" subStatusCode="-1"/>
      <remove statusCode="412" subStatusCode="-1"/>
      <remove statusCode="406" subStatusCode="-1"/>
      <remove statusCode="405" subStatusCode="-1"/>
      <remove statusCode="404" subStatusCode="-1"/>
      <remove statusCode="403" subStatusCode="-1"/>
      <remove statusCode="401" subStatusCode="-1"/>
      <remove statusCode="400"/>
      <error statusCode="400" path="G:\PleskVhosts\jornadas.siespanel.com\error_docs\bad_request.html"/>
      <remove statusCode="407"/>
      <error statusCode="407" path="G:\PleskVhosts\jornadas.siespanel.com\error_docs\proxy_authentication_required.html"/>
      <remove statusCode="414"/>
      <error statusCode="414" path="G:\PleskVhosts\jornadas.siespanel.com\error_docs\request-uri_too_long.html"/>
      <remove statusCode="415"/>
      <error statusCode="415" path="G:\PleskVhosts\jornadas.siespanel.com\error_docs\unsupported_media_type.html"/>
      <remove statusCode="503"/>
      <error statusCode="503" path="G:\PleskVhosts\jornadas.siespanel.com\error_docs\maintenance.html"/>
      <error statusCode="401" prefixLanguageFilePath="" path="G:\PleskVhosts\jornadas.siespanel.com\error_docs\unauthorized.html"/>
      <error statusCode="403" prefixLanguageFilePath="" path="G:\PleskVhosts\jornadas.siespanel.com\error_docs\forbidden.html"/>
      <error statusCode="404" prefixLanguageFilePath="" path="G:\PleskVhosts\jornadas.siespanel.com\error_docs\not_found.html"/>
      <error statusCode="405" prefixLanguageFilePath="" path="G:\PleskVhosts\jornadas.siespanel.com\error_docs\method_not_allowed.html"/>
      <error statusCode="406" prefixLanguageFilePath="" path="G:\PleskVhosts\jornadas.siespanel.com\error_docs\not_acceptable.html"/>
      <error statusCode="412" prefixLanguageFilePath="" path="G:\PleskVhosts\jornadas.siespanel.com\error_docs\precondition_failed.html"/>
      <error statusCode="500" prefixLanguageFilePath="" path="G:\PleskVhosts\jornadas.siespanel.com\error_docs\internal_server_error.html"/>
      <error statusCode="501" prefixLanguageFilePath="" path="G:\PleskVhosts\jornadas.siespanel.com\error_docs\not_implemented.html"/>
      <error statusCode="502" prefixLanguageFilePath="" path="G:\PleskVhosts\jornadas.siespanel.com\error_docs\bad_gateway.html"/>
    </httpErrors>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
    <handlers>
      <add name="ReportViewerWebControlHandler" verb="*" path="Reserved.ReportViewerWebControl.axd" preCondition="integratedMode"
        type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
    </handlers>
  </system.webServer>
</configuration>